h1{
    color:  #0BADA6;
    text-align: center;
    font-weight: bold;
    font-stretch: expanded;
}

h2{
    color:  #0BADA6;
    text-align: center;

    font-stretch: expanded;

}

.navbar-brand h2{
    color:  #0BADA6;
    text-align: center;
    font-weight: bold;
    font-stretch: expanded;
    font-size: 2em;

}
nav{
    opacity: 0.8;
}
.title{
    color:  #0BADA6;
    text-align: center;

}
.navbar-brand{

    padding-right: 10px; 
    padding-left: 10px;

}
.footer{

    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0BADA6;
    color: white;
    text-align: center;
    opacity: 0.8;
}
body{
    background-image: url("winter.jpg");
    opacity:0.9;

}
